@import 'variable.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 10px;
}

a {
  text-decoration: none;
}

.logo {
  width: 180px;
  margin: 6px;
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: white;
}

.search-menu-icon, .header-menu-icon, .search-modal-icon {
  color: white !important;
}

.header-menu-icon {
  margin-left: auto !important;
}

.loadingbar {
  background-color: rgba(223, 177, 99, 0.4)
}

.MuiLinearProgress-colorPrimary {
  background-color: rgba(223, 177, 99, 0.4) !important;
}

.MuiLinearProgress-barColorPrimary {
  background-color: rgba(223, 177, 99, 1) !important;
}

.MuiLinearProgress-colorSecondary {
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.MuiLinearProgress-barColorSecondary {
  background-color: white !important;
}

.header {
  z-index: 10;
  position: relative;

  .top {
    padding-top: 5px;
    height: 110px;
    background-color: $third;
    color: white;

    .content {
      display: flex;
      justify-content: space-between;

      button {
        color: white;
      }

      a {
        color: white;
      }
    }
  }

  .bottom {
    height: 70px;
  }

  .menu {

    margin-top: -70px;

    .content {
      .layout {
        background-color: $primary;
        border-radius: 4px;
      }
    }

    .menu-item {
      border-color: white;
      margin-left: 10px;
      color: white;
      transition: border-color .4s, background-color .4s, color .4s;;

      &:hover {
        background-color: white;
        transition: background-color .4s, color .4s;
        color: $primary;
      }
    }

    .menu-item.active {
      border-color: $secondary;
      transition: border-color .4s, background-color .4s, color .4s;
      color: $secondary;

      &:hover {
        background-color: $secondary;
        transition: background-color .4s, color .4s;
        color: $primary;
      }
    }
  }
}

.mobile-menu {
  width: 250px;
  height: 100%;
  background-color: $primary;

  .whiteColor {
    color: white;
  }
}

.contact-field, .search-field {
  margin-top: 20px !important;
  color: rgba(255, 255, 255, 0.7);

  .MuiFormLabel-root {
    color: rgba(255, 255, 255, 0.54);
  }

  .MuiFormLabel-root.Mui-focused {
    color: $secondary !important;
  }

  .MuiInputBase-root {
    color: rgba(255, 255, 255, 0.87);
  }

  .MuiOutlinedInput-root.Mui-focused {
    .MuiOutlinedInput-notchedOutline {
      border-color: $secondary;
    }

    &:hover {
      .MuiOutlinedInput-notchedOutline {
        border-color: $secondary;
      }
    }
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: rgba(255, 255, 255, 0.54);
  }

  .MuiOutlinedInput-root {
    &:hover {
      .MuiOutlinedInput-notchedOutline {
        border-color: rgba(255, 255, 255, 0.87);
      }
    }
  }

}

.search-field {
  margin-top: 3px !important;
}

.footer {
  margin-top: 100px;
  background-color: $primary;

  .top {
    padding-top: 30px;
    padding-bottom: 30px;

    .contact, .quicklinks, .address {
      background-color: rgba(255, 255, 255, 0.05);
      padding: 15px;
      height: 100%;

      .footer-title {
        color: $secondary;
        text-transform: uppercase;
        font-weight: bold;
      }

      .whiteColor {
        color: white;
      }
    }
  }

  .bottom {
    .copyright {
      border-top: 2px solid rgba(255, 255, 255, 0.15);
      padding: 20px;
      text-align: center;
      font-size: 1.2rem;
      color: white;

      .cms {
        display: inline-block;
        width: 50px;
        height: 14px;
        background-image: url(./images/cms-w.svg);
        background-repeat: no-repeat;
        transition: background-image .4s;

        &:hover {
          background-image: url(./images/cms-org.svg);
          transition: background-image .4s;
        }
      }
    }
  }
}

.send-button {
  display: flex !important;
  margin: auto !important;
  margin-top: 10px !important;
}

.slider-frontpage {
  position: relative;
  margin-top: -40px;

  &__item {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__controls {
    top: 45%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__right, &__left {
    color: white !important;
    background-color: $primary !important;
    margin: 10px !important;

    &:disabled {
      opacity: 0.5;
    }
  }
}

.notifications {
  position: relative;
  background-color: $primary;

  &__space {
    height: 50px;
    color: white;
  }

  &__container {
    position: relative;
  }

  &__container-box {
    position: absolute;
    width: 33% !important;
    right: 7%;
    top: -380px;
    height: 400px;
  }

  &__container-box-mobile {
    position: relative;
  }

  &__container-box, &__container-box-mobile {
    background-color: $secondary !important;
    border-radius: 4px;

    .title {
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 1.7rem;
      color: white;
      padding: 5px;
      background-color: $primary;
      height: 42px;
    }

    .content {
      position: relative;
      height: 358px;

      &__item {
        h2 {
          text-align: center;
          padding: 10px;
        }

        p {
          margin: 0;
          padding: 10px;
          font-size: 1rem;
        }
      }

      &__controls {
        position: absolute;
        bottom: 0;
        right: 0;
      }

      &__right, &__left {
        color: white !important;
        background-color: $primary !important;
        margin: 5px !important;

        &:disabled {
          opacity: 0.5;
        }
      }
    }
  }
}

section {
  opacity: 0;
  transform: translate(0, 50%);
  visibility: hidden;
  transition: opacity 300ms ease-out, transform 300ms ease-out;
  will-change: opacity, visibility;
}

.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
  display: flex;
}

.search-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  &-content {
    background-color: $primary !important;
    height: 145px;
    padding: 50px 10px 10px;
  }
}

.stats {
  padding-top: 50px;

  &-title {
    color: $primary !important;
    font-weight: bold !important;
    margin-bottom: 20px !important;
  }

  &-item {
    height: 300px;
    background-color: $primary !important;

    span {
      color: $secondary;
      display: flex;
      font-size: 4.8rem;
      font-weight: bold;
      padding-top: 70px;
      justify-content: center;
    }

    div.text {
      color: white;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: bold;
      display: flex;
      justify-content: center;
    }
  }
}

.education-profiles {
  background-color: $primary;
  width: 100%;
  height: 100%;

  &-title {
    color: $primary !important;
    font-weight: bold !important;
    margin-bottom: 20px !important;
  }

  &-header {
    background-color: $primary;
    color: white;
  }

  &-avatar {
    background-color: $secondary !important;
  }

  &-picture {
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &-description {
    background-color: $primary;
    height: 240px;

    .whiteColor {
      color: white;
    }
  }

  &-actions {
    background-color: $primary;
    color: white;
  }

  &-visibility {
    color: white !important;
    margin-left: auto !important;
    font-size: .8rem !important;

    .label-moreinfo {
      padding-right: 10px;
    }
  }

  &-singlePage {
    position: relative;
    margin-top: -40px;

    &-picture {
      width: 100%;
      height: 400px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &-content {
      &-title {
        text-align: center;
        background-color: $primary;
        padding-top: 15px;
        padding-bottom: 15px;
        color: $secondary;
        font-weight: bold;
        border-radius: 4px;
        margin-top: -30px !important;
      }

      &-text {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        font-size: 1rem !important;
        font-weight: normal !important;
        text-align: justify;
        text-justify: inter-word;

        img {
          width: 100%;
          height: 100%;
        }
      }

    }

    &-profiles-list {
      background-color: $secondary !important;
      margin-top: 20px;

      .title {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 1.3rem;
        color: white;
        padding: 8px;
        background-color: $primary;
        height: 42px;
      }

      .quicklinks {
        background-color: rgba(255, 255, 255, 0.05);
        padding: 15px;
        height: 100%;

        .footer-title {
          color: $secondary;
          text-transform: uppercase;
          font-weight: bold;
        }

        .blackColor {
          color: $primary;
        }
      }

    }
  }
}

.javne-nabavke {
  padding-top: 50px;

  h5 {
    padding-top: 6px !important;
  }

  &-dot {
    background-color: $primary !important;
    height: 42px !important;
    padding-top: 11px !important;
    font-weight: bold;
    font-size: 1rem;
    color: $secondary !important;
  }

  &-title-header {
    color: $secondary !important;
  }

  &-content {
    padding: 6px 16px;
    background-color: $primary !important;
    color: white !important;

    .whiteColor {
      color: white;
    }
  }
}

.news {
  &-widget {
    &-title {
      color: $primary !important;
      font-weight: bold !important;
      margin-bottom: 20px !important;
    }

    &-card {
      background-color: $primary;
      position: relative;
      width: 100%;
      height: 100%;

    }

    &-picture {
      height: 200px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &-date {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 20;
      font-weight: bold;
      background-color: $primary !important;
      color: $secondary !important;
    }

    &-description {
      background-color: $primary;
      height: 170px;

      h5 {
        color: $secondary;
        text-align: center;
      }

      h6 {
        margin-top: 20px;
        white-space: nowrap;
        font-size: 1rem;
        color: white;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 5px;
      }
    }


    &-actions {
      background-color: $primary;
      color: white;
    }

    &-visibility {
      color: white !important;
      font-size: .8rem !important;

      .label-moreinfo {
        padding-right: 10px;
      }
    }
  }

  &-singlePage {
    position: relative;
    margin-top: -40px;

    &-picture {
      width: 100%;
      height: 500px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
    }

    &-content {
      &-title {
        text-align: center;
        background-color: $primary;
        padding-top: 15px;
        padding-bottom: 15px;
        color: $secondary;
        font-weight: bold;
        border-radius: 4px;
        margin-top: -30px !important;
      }

      &-text {
        img {
          width: 100%;
          height: 100%;
        }
      }

    }

    &-notifications {
      background-color: $secondary !important;
      margin-top: 20px;

      .title {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 1.7rem;
        color: white;
        padding: 5px;
        background-color: $primary;
        height: 42px;
      }

      .content {
        position: relative;
        height: 500px;

        &__item {
          h2 {
            text-align: center;
            padding: 10px;
          }

          p {
            margin: 0;
            padding: 10px;
            font-size: 1rem;
          }
        }

        &__controls {
          position: absolute;
          bottom: 0;
          right: 0;
        }

        &__right, &__left {
          color: white !important;
          background-color: $primary !important;
          margin: 5px !important;

          &:disabled {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

.firstWord {
  &::first-letter {
    text-transform: capitalize;
  }
}



